/HelloWorld/.classpath
/HelloWorld/.project
/HelloWorld/.settings/.jsdtscope
/HelloWorld/.settings/org.eclipse.jdt.core.prefs
/HelloWorld/.settings/org.eclipse.m2e.core.prefs
/HelloWorld/.settings/org.eclipse.wst.common.component
/HelloWorld/.settings/org.eclipse.wst.common.project.facet.core.xml
/HelloWorld/.settings/org.eclipse.wst.jsdt.ui.superType.container
/HelloWorld/.settings/org.eclipse.wst.jsdt.ui.superType.name
/HelloWorld/.settings/org.eclipse.wst.validation.prefs
/HelloWorld/target
/SpringAOPExample/target/
/SpringAOPExample/*.classpath
/SpringAOPExample/*.project
/SpringJDBCExample/.classpath
/SpringJDBCExample/.project
